@charset "utf-8";html,body{margin:0;padding:0;height:100%;}
body{font:12px arial,sans-serif;background-color:#fff;color:#000;}
pre{font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;}
.arthead{font-size:30px;color:#000000;}
.arthead2{font-size:20px;color:#000000;}
.paragraph{font-size:18px;font-weight:bold;color:#000000;}
.paragraph2{font-size:16px;font-weight:bold;color:#000000;}
.paragraph3{font-size:14px;font-weight:bold;color:#000000;}
.tab_head{font-weight:bold;font-size:11px;color:#000000;text-align:left;}
.tab{font-size:11px;color:#000000;text-align:left;}
.console{font-family:"Courier New";font-weight:bold;font-size:11px;color:#000000;text-align:left;}
.console_inv{font-family:"Courier New";font-weight:bold;font-size:11px;color:#FFFFFF;background-color:#000000;text-align:left;}
.literature{font-size:11px;color:#000000;text-align:left;}
.shadow{text-shadow:0px 1px 3px #000;}
.pitem{#border:solid green 1px;width:140px;height:220px;text-align:center;}
.picitem{#border:solid red 1px;height:120px;}
.imgitem{#width:100px;height:100px;}
.cardbox{margin-top:80px;}
.price{#border:solid green 1px;margin:2px;}
.tocard{cursor:pointer;margin-top:6px;margin-bottom:20px;}
.pr_image{margin:8px;}
thead{background-color:#FFBBBB;}
tfoot{background-color:#BBBBFF;}
th{font-family:Arial, Verdana, Helvetica, sans-serif;font-size:13px;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.left{text-align:inherit;}
.center{text-align:center;}
.right{text-align:right;}
.full{text-align:justify}
img.left, table.left{float:left;text-align:inherit;}
img.center, table.center{margin-left:auto;margin-right:auto;text-align:inherit;}
img.center{display:block;}
img.right, table.right{float:right;text-align:inherit;}
img{border:none;}
a{color:#000;}
a:hover{text-decoration:none;color:#16A316;}
p, td, li, span{font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;color:#000;text-align:left;}
.srcBlockText{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#000;text-decoration:none;}
a:hover.srcBlockText{text-decoration:underline;}
.srcBlockLink{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#000;}
a:hover.srcBlockLink{text-decoration:none;}
.srcField{border:solid 1px #C1C2C2;}
.cluetip-rounded{border:none;}
.Copyright{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2F2F2F;}
.mainMenuLink{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2F2F2F;text-transform:uppercase;text-decoration:none;font-weight:bold;}
.mainMenuLink1{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2F2F2F;background-color:#99ff66;text-transform:uppercase;text-decoration:none;font-weight:bold;}
a:hover.mainMenuLink{text-decoration:underline;}
.mailLink{color:#595959;}
.titlePar{border-top:solid 2px #16A316;margin:0px;}
.pTitle{background-color:#E5F6FD;font-family:Arial, Helvetica, sans-serif;font-size:17px;color:#2F2F2F;text-transform:uppercase;margin-top:5px;padding:3px;vertical-align:middle;}
.free{color:#16A316;font-size:11px;}
.occupy{color:#FF8080;font-size:11px;}
.tstLink{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#000;font-weight:bold;}
.blockTitle{color:#16A316;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
.catthegory{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#7c7c7c;}
a:hover.catthegory{text-decoration:none;}
.blockArt{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2f2f2f;font-weight:bold;}
a:hover.blockArt{text-decoration:none;}
.more{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2f2f2f;text-decoration:none;}
a:hover.more{text-decoration:underline;}
.pagination{text-align:center;}
.pagination a{color:#16a316;}
.archMenu{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#2f2f2f;text-decoration:none;padding-bottom:2px;}
.artTitle{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2f2f2f;font-weight:bold;}
.artText{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#2f2f2f;}
.lineYear{font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#5b879a;text-decoration:none;font-weight:bold;}
a:hover.lineYear{text-decoration:underline;}
.lineYearAct{font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#16a316;text-decoration:none;font-weight:bold;}
.tabText{color:#2f2f2f;font-size:10px;text-decoration:none;cursor:pointer;}
.tCont{}
#tCont2{display:none;}
#tCont3{display:none;}
#tCont4{display:none;}
.remark{border:dashed 1px #f00;padding:10px;margin:0 0 10px 0;color:#f00;}
.remtitle{color:#f00;font-weight:bold;margin-top:20px;font-size:0.95em;}
.messblock{margin-bottom:10px;}
ul.map{list-style:none;padding:0px;}
ul.map li{padding-left:15px;margin-top:4px;;}
ol.pageList{padding-left:20px;}
ol.pageList li ul{padding-left:0px;margin:0px;}
ol.pageList li ul li{list-style:none;margin:0;font-weight:normal;background-image:url(/img/listmarker.gif);background-repeat:no-repeat;background-position:left 5px;padding-left:10px;}
ol.pageList li{margin-top:8px;padding-left:5px;font-weight:bold;}
#legal{display:none;}
.hide, .hide + label ~ div{display:none;}
.hide + label,
.hide:checked + label{padding:0;color:green;cursor:pointer;border-bottom:1px dotted green;}
.hide:checked + label{color:red;border-bottom:0;}
.hide:checked + label + div{display:block;background:#efefef;-moz-box-shadow:inset 3px 3px 10px #7d8e8f;-webkit-box-shadow:inset 3px 3px 10px #7d8e8f;box-shadow:inset 3px 3px 10px #7d8e8f;margin-top:10px;margin-left:20px;padding:10px;-webkit-animation:fade ease-in 0.5s;-moz-animation:fade ease-in 0.5s;animation:fade ease-in 0.5s;}
@-moz-keyframes fade{from{opacity:0;}
to{opacity:1}
}
@-webkit-keyframes fade{from{opacity:0;}
to{opacity:1}
}
@keyframes fade{from{opacity:0;}
to{opacity:1}
}
.hide + label:before{background-color:#1e90ff;color:#fff;content:"+";display:block;float:left;font-size:12px;font-weight:bold;height:16px;line-height:16px;margin:2px 5px 0px;text-align:center;width:16px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.hide:checked + label:before{content:"\2212";}